/* index.html */
body {
  background-color: rgb(156 163 175);

  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
}

#indexheader {
  margin-top: 2rem;
  text-align: center;
}

#indeximage img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  max-height: 100%; /* Ensure image doesn't exceed container height */
}

#indeximage {
  display: flex;
  justify-content: center; /* Align horizontally center */
  align-items: center; /* Align vertically center */
  height: 500px; /* Adjust height as needed */
}

#indexbtnpos {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#indexbtnpos div button a {
  color: white;
  font-weight: bold;
  outline: none; /* removed vertical lines beside image  */

  text-decoration: none;
}
#indexbtnpos div button {
  background-color: black;
  border: solid white 2px;
  border-radius: 4px;
  margin: 2px;
  padding: 5px;
}

/* ----------------------- */

/* login.html */

#loginContainer {
  width: 14rem;
  border: solid black 2px;
  padding: 2rem;
  margin: auto;
  margin-top: 4rem;
}

#loginheader {
  text-align: center;
  margin-bottom: 2rem;
}

.loginform {
  margin-bottom: 1rem;
}

.logininput {
  width: 13.5rem;
  border: solid 1px;
}

#loginbtn button {
  background-color: black;
  border: solid white 2px;
  border-radius: 4px;
  margin: 2px;
  padding: 5px;
}

#loginbtn button a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* ------------------------ */

/* signup.html */

#signupheader {
  text-align: center;
  margin-bottom: 2rem;
}

#signupinput div input {
  margin-bottom: 1rem;
  width: 13.5rem;
  border: solid 1px;
}

#signupinput button {
  background-color: black;
  border: solid white 2px;
  border-radius: 4px;
  margin: 2px;
  padding: 5px;
  color: white;
  font-weight: bold;
}

#signupContainer {
  width: 14rem;
  border: solid black 2px;
  padding: 2rem;
  margin: auto;
  margin-top: 4rem;

  background-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#feedback {
  margin-top: 1rem;
  text-align: center;
}
/* ------------------------ */

/* Home button */

#home-button button {
  background-color: black;
  border: solid white 2px;
  border-radius: 4px;
  margin: 2px;
  padding: 5px;
}

#home-button button a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#home-button {
  text-align: right;
}

/* --------------------- */

/* front.html */
#frontContainer {
  width: 20rem;
  border: solid black 2px;
  padding: 1rem;
  margin: auto;
  margin-top: 3rem;
  background-color: azure;
}
#displayBox {
  width: 15rem;
  border: solid black 1px;
  padding: 1rem;
  margin: auto;
  height: 2rem;
  margin-bottom: 2rem;
  background-color: darkseagreen;
  text-align: center;
}
#frontheading {
  text-align: center;
}

#frontinput div input {
  margin-bottom: 1rem;
  border: solid 1px;
  width: 13.5;
}

#frontinput button {
  background-color: red;
  border: solid black 2px;
  border-radius: 4px;
  margin: 2px;
  color: white;
}

#sources {
  margin-bottom: 1rem;
}
#sources select {
  border: solid 1px;
  margin-right: 1rem;
}

#display-record {
  border: solid 1px;
  margin: 1rem;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
}

#record {
}

/* -------------------------- */
